<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="OmagiecaVMS01DB" connectionString="Data Source=LAPTOP-2VQA4JRM;Initial Catalog=OmagiecaVMS01DB;Persist Security Info=True;User ID=sa;Password=12345678;Trust Server Certificate=True" />
  <add name="OmagiecaVMS01.Properties.Settings.OmagiecaVMS01DBConnectionString"
   connectionString="Data Source=LAPTOP-2VQA4JRM;Initial Catalog=OmagiecaVMS01DB;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>